@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px 70px;
  background-color: #fcfcfc;

}

/* navbar */
.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.name {
  font-size: 2.2rem;
  font-weight: bolder;
}
.name a{
  color: #0d1e2d;
  text-decoration: none;
}
.occupation {
  font-size: 1.2rem;
  color: #636e72;
}

.hamburger{
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  z-index: 100;
  position: relative;
}


.site-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.site-links span {
  margin-right: 20px;
}
.site-links span a {
  color: #636e72;
  text-decoration: none;
  font-weight: 900;
  padding-bottom: 8px;
  transition: transform 0.5s ease-in-out;
}
.site-links span a:hover {
  color: #5352ed;
  border-bottom: 2px solid #5352ed;
}

.change{
  background-color: #fcfcfc;
  height: 100vh;
  width: 100px;
  margin: 0;
  position: absolute;
  top: 0;
  z-index:  1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.clr {
  color: #5352ed;
  border-bottom: 2px solid #5352ed;
  padding-bottom: 3px;
}

/* Main Container */

.main-container {
  width: 100%;
}

.hd {
  display: flex;
  justify-content: center;
  text-align: center;
}
.hd h1{
  padding: 20px 0px;
  width: 300px;
  border-bottom: 3px solid #5352ed;
}

/* Work Images Section */

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px 20px;
}

.work {
  width: 300px;
  margin: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: #ffff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.work img{
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  transition: all 0.2s ease-in-out;
}
.work:hover img{
  filter: grayscale(90%);
}
.work:hover{
  transform: scale(1.1);
}
.work .title{
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  margin: 10px;
}
.work .description{
  font-size: 1.2rem;
  margin: 8px;
  text-align: center;
  /* width: 100%; */
  /* font-weight: 900; */
}

/* Image Popup Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* popup 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

hr {
  width: 30%;
}


/* footer */
.footer-heading{
  margin-top: 70px;
  text-align: center;
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.social-icons i{
  margin: 30px 40px;
  font-size: 2.3rem;
  cursor: pointer;
  color: #5352ed;
}
.social-icons i:hover{
  color: #786fa6;
}
.footer-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 30px 0px; 
}


/* Animation */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}


/* For Responsiveness */


@media screen and (max-width: 730px) {
  .name {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .occupation {
    font-size: 1rem;
    color: #636e72;
  }
  .footer-bottom {
    text-align: center;
  }

}

@media screen and (max-width: 675px) {
  .site-links {
    display: none;
    width: 80%;
    flex-direction: column;
  }
  .site-links.show{
    display: flex;
  }
  .hamburger{
    display: block;
  }
}

@media screen and (max-width: 600px) {
  hr {
    width: 50%;
  }
  .works{
    margin: 0px;
  }
  body{
    margin: 0px 30px;
  }
}
@media screen and (max-width: 500px) {
  .main-container {
    margin: 0px;
  }
  .social-icons i {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 450px) {
  .social-icons {
    flex-direction: column;
  }
  .nav-logo {
    display: none;
  }
  .footer-heading h1 {
    font-size: 1.5rem;
  }
 
  .footer-bottom {
    font-size: 1rem;
  }
  body{
    margin: 0px 10px;
  }
}

@media screen and (max-width: 350px) {
  hr {
    width: 100%;
  }

}
